/* variable declarations */
:root {
    --myapp-color-background: limegreen;
    --myapp-header-height: 60px;
    --myapp-header-bg: #fff;
    --myapp-footer-height: 50px;
    --myapp-footer-bg: #fff;
    --myapp-main-bg: #fff;
    --myapp-imgbutton-size: 40px;
    --myapp-img-bg-size: 30px 30px;
    --myapp-default-space: 10px;
    --myapp-border-thickness: 2px;
    --myapp-li-height: 65px;
    --myapp-li-font-size: 18pt;
    --myapp-heading-font-size: 20pt;
    --myapp-li-image-width-height: 45px;
    --myapp-tile-img-size: 80px;

}

html, body {
    margin: 0px;
    font-family: "Avenir Medium", sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

html{
    background-color: var(--myapp-color-background);
}

body{
    background-color: #fff;
}

/* block text selection */

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header{
    height: var(--myapp-header-height);
    background-color: var(--myapp-header-bg);
    border-bottom: solid var(--myapp-border-thickness) grey;

}

main{
    /*Gesamthöhe der Anzeigefläche- (Höhe Header + hoehe Footer + Border der Footer/Header)*/
    height: calc(100vh - (var(--myapp-header-height) + var(--myapp-footer-height) + (2*var(--myapp-border-thickness))));
    background-color: var(--myapp-main-bg);
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity 1s ease-out;


}

.puffer{
    width: 100%;
    height: 5vw;
    background: var(--myapp-grey);
}

main.myapp-faded{
    opacity: 0;
    transition: opacity 2s ease-in;
}

footer{
    height: var(--myapp-footer-height);
    background: var(--myapp-footer-bg);
    border-top: solid var(--myapp-border-thickness) orange;
}

header h1{
    display: inline-block;
    margin: 0;
    font-weight: normal;
    line-height: 60px;
    text-transform: uppercase;
    font-size: var(--myapp-heading-font-size);
}

.left-aligned{
    float: left;
}

.right-aligned{
    float: right;
}

.myapp-img-button{
    background-color: transparent;
    font-size: 0;
    border: none;
    background-position: center;
    background-size: var(--myapp-img-bg-size);
    width: var(--myapp-imgbutton-size);
    height: var(--myapp-imgbutton-size);
    background-repeat: no-repeat;
    filter: invert(60%);
}

.menu-img{
    background-image: url("./img/png/menu_FILL0_wght400_GRAD0_opsz24.png");
}

.add-img{
    background-image: url("./img/png/add_FILL0_wght400_GRAD0_opsz24.png");
}

.tile-view-img[tile-view="hidden"]{
    background-image: url("./img/png/grid_view_FILL0_wght400_GRAD0_opsz24.png");
}

.tile-view-img[tile-view="visible"]{
    background-image: url("./img/png/list_FILL0_wght400_GRAD0_opsz24.png");
}

.refresh-img{
    background-image: url("./img/png/sync_FILL0_wght400_GRAD0_opsz24.png");
}

.logout-img{
    background-image: url("./img/png/logout_FILL0_wght400_GRAD0_opsz24.png");
}



header button{
    margin-top: calc((var(--myapp-header-height) - var(--myapp-imgbutton-size))/2);
}

footer button{
    margin-top: calc((var(--myapp-footer-height) - var(--myapp-imgbutton-size))/2);
}

/*Listview*/
ul{
    list-style: none;
    padding: 0;
    margin: 0;

}


.myapp-li-information-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: calc(100% - 1px);
}

.myapp-li-information-wrapper div:not(.myapp-times-played-wrapper){
    height: calc(var(--myapp-li-height)/3);
    padding: 0 var(--myapp-default-space);
}

.myapp-origin, .myapp-title-date{
    font-size: var(--myapp-text-xs);
    color: var(--myapp-grey);
    text-decoration: none;
    margin-top: var(--myapp-default-space);
}


.myapp-times-played-img{
    height: calc((var(--myapp-li-height)/3) - var(--myapp-default-space));
    width: calc((var(--myapp-li-height)/3) - var(--myapp-default-space));
    filter: invert(60%);
    margin: 0;
}

.myapp-times-played-txt{
    margin: 0;
    color: var(--myapp-grey);
    font-size: var(--myapp-text-xs);
}

.myapp-times-played-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.inline{
    width: 50px;
    padding: 0;
}

.myapp-li-options-img{
    height: 15px;
    width: 15px;
    background-size: cover;
    background-image: url("/css/img/png/more_vert_FILL0_wght400_GRAD0_opsz24.png");
    background-color: transparent;
    filter: invert(60%);
    border: none;
    padding-top: 2px;
    background-repeat: no-repeat;
}



li{
    height: var(--myapp-li-height);
    border-bottom: 1px solid rgba(120, 120, 120);
    padding: 0 0 0 var(--myapp-default-space);
}


li h2{
    font-weight: normal;
    font-size: var(--myapp-li-font-size);
    margin: 3px 0 0 0;
}

li .myapp-img-button{
   margin-top: calc((var(--myapp-li-height) - var(--myapp-imgbutton-size)));
}



li img{
    height: var(--myapp-li-image-width-height);
    width: var(--myapp-li-image-width-height);
    margin-top: calc((var(--myapp-li-height) - var(--myapp-li-image-width-height)) / 2);
    object-fit: cover;
}

/*.myapp-tiles li *:not(img){
    display: none;
}*/

.myapp-tiles .myapp-li-information-wrapper div *:not(button){
    display: none;
}

.myapp-tiles .myapp-li-options-img{
    position: absolute;
    left: 70%;
    bottom: 7%;
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.myapp-tiles li{
    position: relative;
    margin-left: var(--myapp-default-space);
    margin-top: var(--myapp-default-space);
    display: inline-block;
    border: none;
    --myapp-tiles-columns: 4;
    --myapp-tile-size: calc((100vw - ((var(--myapp-tiles-columns) + 1) * var(--myapp-default-space))) / (var(--myapp-tiles-columns)));
    width: var(--myapp-tile-size);
    height: var(--myapp-tile-size);
    padding: 0;
    float: left;
}

.myapp-tiles img{
    height: 100%;
    width: 100%;
    margin: 0;
}



@media (min-width:34em) and (max-width:69em) {
    .myapp-tiles li{
        --myapp-tiles-columns: 5;
        --myapp-tile-size: calc((100vw - ((var(--myapp-tiles-columns) + 1) * var(--myapp-default-space))) / (var(--myapp-tiles-columns)));
        width: var(--myapp-tile-size);
        height: var(--myapp-tile-size);

    }
}

@media (min-width:70em) {
    .myapp-tiles li{
        --myapp-tiles-columns: 8;
        --myapp-tile-size: calc((100vw - ((var(--myapp-tiles-columns) + 1) * var(--myapp-default-space))) / (var(--myapp-tiles-columns)));
        width: var(--myapp-tile-size);
        height: var(--myapp-tile-size);

    }
}
